body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: rgba(255,255,255,0.85);
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
